{
  "semi": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "printWidth": 80
}
