doctype html
html
  head
    style 
      include layout.css
  body
    table.main
      tbody
        tr
          td
            include components/header.pug

        tr
          td
            block content

        tr
          td
            include components/footer.pug