// needed variables: name, token
html
  head
    title Verify Email - Chingu
  body(style={
    'font-family': 'Arial,Helvetica,sans-serif', 
    'line-height':'150%'
  })
    h3 Hello #{name},
    
    p Thank you for creating a Chingu account.
    p Please confirm this is your email address by clicking on the button below.
    
    - const baseURL = process.env.NODE_ENV === "production" ? "https://chingudashboard.herokuapp.com" : "http://localhost:3000"
    a(
        href=baseURL + '/verify/user/'+ token 
        target='_blank' 
        style={ 
          'background-color': '#13e58c', 
          'text-decoration': 'none', 
          'border-radius': '12px', 
          color: 'white', 
          padding: '12px', 
          margin: '12px 0', 
          display: 'inline-block' }) Verify Your Email

    p(style={
      'font-size': '0.8rem', 
      'margin-top': '24px', 
      'text-align': 'center'}) If you didn't create a #[a(href="https://chingudashboard.herokuapp.com" target='_blank') Chingu] account, please contact #[a(href='mailto:' + process.env.MAILER_EMAIL) us] or simply ignore this email.