//- // needed variables: name, token
extends ../layout.pug

block content
  div
    h3 Hey #{name}
    p It looks like you've forgotten your password.
    p Use the link below to reset your password.

  - const baseURL = process.env.NODE_ENV === "production" ? "https://chingudashboard.herokuapp.com" : "http://localhost:3000"
  a.styled-button(
    href=baseURL + '/verify/user/'+ token 
    target='_blank'
  ) Reset Password